/* main.css entrypoint: keep HTML clean and import modular CSS files. */
@import "./base/variables.css";
@import "./base/reset.css";
@import "./components/header.css";
@import "./components/buttons.css";
@import "./views/reader.css";
@import "./base/responsive.css";
@import "./views/bookshelf.css";
@import "./components/settings.css";
@import "./views/review.css";
@import "./views/vocab-library.css";
